@using AdminView.Resources


<ul class="nav nav-tabs">
    <li>@Html.ActionLink(@textos.Calendar, "Calendar", "Calendar")</li>
</ul>

<table class="table table-striped">
    <tr>
        <th>
            @textos.Name
        </th>
    </tr>
    @foreach (var item in ViewBag.allSports)
    {
        <tr>
            <td>
                @Html.ActionLink((string)item.Name, "TypeCompetiCalendar", "TypeCompetiCalendar", new { idSport = item.Id }, null)
            </td>
        </tr>
    }
</table>
