<div class="form-horizontal col-md-12">
    <div class="form-group col-md-4">
        <label class="col-md-12" for="InitialDate">Fecha de inicio</label>
        <input class="form-control col-md-12" id="iDateStat" name="InitialDate" type="date" value="">
    </div>
    <div class="form-group col-md-4">
        <label class="col-md-12">Fecha de fin</label>
        <input class="form-control col-md-12" id="fDateStat" name="FinalDate" type="date" value="">
    </div>
    <div class="form-group col-md-4">
        <input id="loginstat_btn" class="btn btn-default col-md-2" type="submit" value="Filtrar">
    </div>
</div>

<div id="loginstat">
    <div class="clearfix"></div>

    <div class="col-md-offset-2 col-md-8">
        @{Html.RenderAction("_loginstat", "stats");}
    </div>
</div>