<h3 class="col-md-12">Número de publicaciones mensuales</h3>
<hr />

<div class="form-horizontal col-md-12 row">
    <div class="form-group col-md-4">
        <label class="col-md-12" for="InitialDate">Fecha de inicio</label>
        <input class="form-control col-md-12" id="iDateStat" name="InitialDate" type="date" value="">
    </div>
    <div class="form-group col-md-4">
        <label class="col-md-12">Fecha de fin</label>
        <input class="form-control col-md-12" id="fDateStat" name="FinalDate" type="date" value="">
    </div>
    <div class="form-group col-md-4">
        <input id="poststat_btn" class="btn btn-default col-md-2" type="submit" value="Filtrar">
    </div>
</div>

<div id="poststat">
    @{Html.RenderAction("_poststat", "stats");}
</div>

<h3 class="col-md-12">Lista de publicaciones más votadas</h3>
<hr />

<div class="form-horizontal col-md-12 row">
    <div class="form-group col-md-4">
        <label class="col-md-12" for="InitialDate">Fecha de inicio</label>
        <input class="form-control col-md-12" id="iDateList" name="InitialDate" type="date" value="">
    </div>
    <div class="form-group col-md-4">
        <label class="col-md-12">Fecha de fin</label>
        <input class="form-control col-md-12" id="fDateList" name="FinalDate" type="date" value="">
    </div>
    <div class="form-group col-md-4">
        <input id="postlist_btn" class="btn btn-default col-md-2" type="submit" value="Filtrar">
    </div>
</div>

@{Html.RenderAction("_postlist", "stats");}

