
@{
    ViewBag.Title = "Competitions";
}

<h2>@ViewBag.Title</h2>

@Html.DropDownList("allCompetitions", null, new { @class = "form-control", id = "allCompetitions", required = "required" })

@section scripts {
<script type="text/javascript">

    $(document).ready(function () {
        $("#allCompetitions").change(function () {
            var url = $(this).val();
            if (url != null && url != '') {
                window.location.href = "http://localhost:4902/Home/DetailsCompetition/" + url;
            }
        })
    });
</script>
}

