<div class="col-md-12">
    <div class="col-md-6">
        @{Html.RenderAction("_poststat", "stats");}
    </div>

    <div class="col-md-6">
        @{Html.RenderAction("_loginstat", "stats");}
    </div>
</div>
