@model AdminView.Models.StatModel

<div class="col-xs-12 col-md-6">
    <h4 class="stat_user_table_title">Usuarios que más dinero apuestan</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Alias</th>
                <th>Total apuestas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListInfo)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>